/*body{
	background: linear-gradient(#689FF7, #51CEAA);
	background: -moz-linear-gradient(#689FF7, #51CEAA);
	background: -o-linear-gradient(#689FF7, #51CEAA);
	background: -webkit-linear-gradient(#689FF7, #51CEAA);
	color:white;
	font-family:Proxima Nova;

	height: 120vh;
}

*/

body{
	background-image: url("image.png");
	color:white;
	font-family:Proxima Nova;

	height: 100vh;
}
.header{
	height:50px;
}

h1{
	font-family:Proxima Nova;
	font-weight:800;
	font-size:8vw;
}
blockquote{
	color:white;
}
.quote{
	font-size:1.5vw
}

.byline{
	font-size:1vw
}
.tagline{
	font-size:2.3vw;

}

.smaller{
	font-size:.5em;
}
/*div{
	border:solid black 1px;
}*/
.navbar-collapse{

}
#logo{
	margin-bottom:-4rem;
	height:100px;
}
#content{
	margin-top:50px;
}
#googleplay{
}
#appstore{
}
#phone{
	margin-bottom:;
	z-index: -1;
}
a{
	text-decoration:none;
	color:purple;
}
a:hover{
	text-decoration:none;
	color:purple;
}
.bottom{
	background-color: white;
	z-index: 1;
	color:purple;
	font-size:2vw;
}


@media (max-width:966px){


}

@media (max-width:752px){

h1{
	font-family:Proxima Nova;
	font-weight:800;
	font-size:10vw;
}
blockquote{
	color:white;
}
.quote{
	font-size:3.5vw
}

.byline{
	font-size:3vw
}
.tagline{
	font-size:4vw;

}
}